:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --main-color: #212121;
  --second-color: #757575;
  --card-set-gap: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -------------- HEDER -------------- */

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-contact {
  display: flex;
  margin-left: auto;
}

.logo {
  margin-right: 95px;
}

.logo-web-top,
.logo-web-bottom,
.logo-studio-top,
.logo-studio-bottom {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-web-top,
.logo-web-bottom {
  color: var(--accent-color);
}

.logo-studio-top {
  color: #000000;
}

.logo-studio-bottom {
  color: #ffffff;
}

.navigation-list {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-current {
  color: var(--accent-color);
}

.navigation-list:hover,
.navigation-list:focus {
  color: var(--accent-color);
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link,
.tel-link,
.contact-link-footer {
  color: var(--second-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contact-link {
  margin-right: 50px;
}

.contact-link:hover,
.contact-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

/* -------------- END HEDER -----------*/

/* --------------HERO ---------------- */

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/background/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  background-color: var(--accent-color);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.hero-btn:focus,
.hero-btn:hover {
  background-color: #188ce8;
  color: #ffffff;
}

/* --------------END HERO ------------ */

/* ----------FEATURE----------------- */

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.feature-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

/* ----------END FEATURE------------- */

/* ----------OUR WORKS------------- */

.work {
  padding-top: 0;
}

.title-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
}

.list-work {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.item-work {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

/* ----------END OUR WORKS---------- */

/* ----------TEAM---------- */

.team {
  background-color: #f5f4fa;
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
}

.member-team {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-top: 10px;
}

.list-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
  text-align: center;
}

.item-team {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* ----------END TEAM------ */

/* ----------Постоянные клиенты----- */
.clients {
  background-color: #ffffff;
}
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 50px;
}

/* ----------FOOTER--------- */


.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.list-address {
  margin-top: 20px;
}

.address-footer {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contact-link-footer:hover,
.contact-link-footer:focus {
  color: var(--accent-color);
}

.link-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

/* ----------END FOOTER------ */

/* ----------PORTFOLIO--------- */

.filt-btn:focus,
.filt-btn:hover {
  background-color: var(--accent-color);
  color: #ffffff;
}

.filt-btn {
  padding: 6px 22px;
  background-color: #f5f4fa;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.card-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.type-of-card {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.menu-filter {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
  justify-content: center;
}

.item-filter:not(:last-child) {
  margin-right: 8px;
}

.list-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.item-card {
  flex-basis: calc(100% / 9 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

/* ----------END PORTFOLIO----- */
